// Colors
primary = #363636
secondary = #7c7c7c
border = #e1e3eb
info = #4f95ff
info-dark = #1b76ff
link = #ff3838
danger = #ff3e3e
danger-light = #ffcaca
background-color = #f0f0f0

// Typography
family-primary = Roboto, Arial, sans-serif

// Sizes
size-1 = 3rem
size-2 = 2.75rem
size-3 = 2.5rem
size-4 = 2.25rem
size-5 = 2rem
size-6 = 1.75rem
size-7 = 1.5rem
size-8 = 1.375rem
size-9 = 1.25rem
size-10 = 1.125rem
size-11 = 1rem
size-12 = 0.875rem